.lista-practicas {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30%;
    background-color: #c62828;
    /*font-family: 'Yatra One', cursive;*/
    font-family: 'MyWebFont', Fallback, sans-serif;
    
    position: fixed;
    margin-left:20%;
    
    /*display:none;*/
   
}

.lista-practicas > ol > li a {
    display: block;
    color: #ef9a9a;
    padding: 8px 16px;
    text-decoration: none;
    
}

h2{
  margin-left:20%;
  margin-bottom:5%;  
}


.lista-practicas > ol > li a:hover {
    background-color: #ef6c00;
    color: #ffb74d;
}

#modificado{
    padding-top:235%;
    
}

html, body{
    height:100%;
    width: 100%;
    overflow: hidden;
}

body{
    background-color: #f5f5dc;
}

#inicio{
    border-bottom: 2px white solid;
}

#ultimo{
    border-bottom: 2px white solid;
}

@font-face {
  font-family: 'MyWebFont';   
  src: url('../fonts/myfont.ttf')  format('truetype');
}

