main{
	width: 91%;
	
	
}

main label{
	font-family: ChocolateCoveredBold;
}

input, select, textarea{
	font-size: 15px;
	width: 75%;
	
}
input{
	text-align: center;
}
textarea{
	resize: none;
	height: 125px;
}
select, #enviar{
	width: 50%;
	text-align: center;

}
table{
	width: 95%;
	margin: 0 auto;
}

td{
	width: 50%;
}
