/* Fuentes */
@font-face{
	font-family: Lobster-Regular;
	src: url(fonts/Lobster-Regular.ttf) format('truetype');
}


body{
	font-family: Lobster-Regular;
	font-size: 40px;
	letter-spacing: 2px;
	background: url(../img/fondo.png) ;
	background-repeat: no-repeat;
	background-color: #fa955a;
	*background-attachment: fixed;
	background-size: 100%;
	
}

h1, h2, h3{
	text-shadow: 5px 2px 5px #FF8138;
	margin: 0;
	padding: 0;
	text-align: center;
	
}

h1{
	font-size: 65px;
	width: 60%;
	padding: 0;
	margin-bottom: 4%;
	vertical-align: bottom;
}

h2{
	font-size: 45px;
}

h3{
	font-size: 35px;
}





main{
	width: 60%;
	padding: 40px 7px;
	background-color: #187FD2;
	border-radius: 15px;
	margin: 20px 0 20px 15px;
	border: 2px solid #fa955a;
	text-align: center;
}

main>p{
	font-size: 25px;
	
}

main,aside{
	display: inline-block;
}

aside{
	width: 30%;
	vertical-align: top;
	text-align: center;
	margin-top: 20px;
	padding: 0px 0px 0px 35px;
	
}

footer{
	width: 93%;
	padding: 10px;
	text-align: center;
	margin: 5px auto;
	border-radius: 15px;
	border: 3px solid #fa955a;
	background-color: #187FD2;

}
header{
	text-align: center;
	margin: 0;
	padding: 0;
}

#logo{
	width: 15%;
	margin: 0;
	padding: 0;
	
}

#login{
	width: 14%;
	min-width: 160px;
	font-size: 26px;
	text-align: center;
	border: 3px solid #fa955a;
	background: #fa955a;
	border-radius: 5px;
	margin-left:50px;
}



#login > *{
	width: 70%;
	margin: 0 auto;
	font-size: 19px;
}

#botonLogin{
	margin-top: 7.5px;
}

h1, #logo, #login{
	display: inline-block;
}

#contenedorMenu{
	width: 65%;
	margin: 0 auto;
	font-size: 20px;
	letter-spacing: 1px;
	background-color: #5abffa;
	opacity: 0.85;
	border-radius: 20px 20px 0 0;
	border-bottom: 2px solid #1996FC;
}

#container{
	width: 72.5%;
	margin: 0 auto;
	background-color: #187FD2;
	border-radius: 5px 5px 0 0;
	
}


#menuprincipal ul{
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #187FD2;
}



#menuprincipal ul li{
	display: inline-block;
	width: 33%;
	font-size: 25px;
	letter-spacing: 1%;
	transition: 1s all;
	background-color: #5abffa;
}

#menuprincipal ul li:hover, #menuprincipal ul li.selected:hover{
	background-color: #fa955a;
	transition: 1s;
	
}

#redondeadoIzquierdo{
	border-radius: 20px 0 0 0;
}

#redondeadoDerecho{
	border-radius: 0 20px 0 0;
}

#menuprincipal ul li.selected{
	background-color: rgba(180,90,38,0.85);
}

a{
	text-decoration: none;
	color: black;
	width: 90%;
	padding: 10px;
	display: inline-block;
}


#contenido{
	width: 100%;
	background-color: #5abffa;
	opacity: 0.85;
	border-radius: 10px 10px 0 0;
	padding-bottom: 10px
	
}




#calendario{
	width: 80%;
	height: 80%;
	margin: 0 auto;
	font-size: 16px;
 
}

#calendario #titulos{
	font-size: 16px;
}



#buscarTarea{
	width: 82%;
	margin: 20px auto;
	border-radius: 15px;
	border: 3px solid #fa955a;
	background-color: #187FD2;
	padding-bottom: 10px;
}
#buscar{
	width: 80%;
	font-size: 17px;
	vertical-align: middle;
}

#iconoLupa{
	font-size: 20px;
	vertical-align: middle;
}

#annadirTarea{
	width: 82%;
	margin: 20px auto;
	border-radius: 15px;
	border: 3px solid #fa955a;
	background-color: #187FD2;
	padding-bottom: 10px;
	font-size: 20px;
}

#annadirTarea h5{
	margin:10px auto;
  padding: 0;
	font-size: 25px;
}

#annadirTarea input{
	width: 50%;
}


input, textarea, select{
	font-family:inherit;
}










